html, body {
	overflow-x: hidden;
}

p .katex, li .katex {
	font-size: 1.1rem;
}

.katex-display {
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

img.algorithm {
	width: 106%;
	max-width: 106%;
}

img.tikz {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: auto;
}

#toc {
	margin-left: 1rem;
	margin-top: 2rem;
}

#toc li::marker {
	font-size: 0.7em;
}

.side {
	position: fixed;
	top: 2em;
	right: 2em;
	z-index: 999;
	text-align: right;
}

.side > p {
	margin: 1em 0.5em;
}

.side > p > a {
	color: #292;
	border: 2px solid #292;
	padding: 0.25em 0.5em;
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
	.side {
		top: 0em;
		right: 0em;
		font-size: 0.8em;
	}
}

body {
	line-height: 1.5;
}

li {
	margin-top: 0.3rem;
}

h1.collapsed,
h2.collapsed,
h3.collapsed,
h4.collapsed,
h5.collapsed,
h6.collapsed {
	color: #9B9898;
}
